
#portal-columns{
  margin-top:16px;
}
 
#portal-column-content {
  background:transparent;
  float:left;
  padding:10px 20px 20px;
  width:610px;
}


.portlet {
  background-image:url(++resource++plonetheme.zopeorg.images/home_news_bg.jpg);
  background-repeat:no-repeat;
  float:left;
  margin:0 0 0 10px;
  padding:20px;
  width:280px;
}

.divider {
  padding-bottom:0px;
}

.portletItemMore {
  background-image:none;
  background-position:right center;
  background-repeat:no-repeat;
  color:#5A5A5A;
  font-size:12px;
  font-style:none;
  padding:0px;
  text-decoration:none;
  text-transform:none;
}

.portletItemMore:hover  {
  background-image:none;
  background-position:right center;
  background-repeat:no-repeat;
  color:#2375BB !important;
  font-size:12px;
  font-style:none;
  padding:0px;
  text-decoration:none;
  text-transform:none;
}

.portletItemTitle{
  color:#5A5A5A;
  font-size:12px;
  font-weight:normal;
  font-style:normal;
}

.portletItemMore:hover .portletItemTitle{
  color:#2375BB;
}

.portletItem {
  margin:0;
  padding:0 0 0;
}

.portletHeader {
  padding:0 0 16px;
  margin: 0 0 0 0;
}

#portal-column-two .visualPadding{
  width:375px;
  padding-top:9px;
}

.portlet{
  width:335px;
  margin: 0 0 0 0;
}

#portal-column-content {
  background:transparent none repeat scroll 0 0;
  float:left;
  padding:0 0 0 20px;
  width:585px;
}

.frontPageItem{
  width:255px;
}

.container .left{
  float:left;
  clear:left;

}

.container .right{
  float:right;
  padding-right:23px;
}

.fpSeparator{
  background: transparent url(++resource++plonetheme.zopeorg.images/line_v.gif) repeat-y 0px 0px;
  width:2px;
  float:right;
  margin-right:-27px;
  margin-top:8px;
  height:210px;
}

.container{

}

.fPTitle{
  color:#2375BB;
  font-size:24px;
  font-style:italic;
  margin:0;
  padding:0 0 15px;
  font-weight:bold;
  padding-top:14px;
}

.fPDescription{
  line-height:18px;
  padding-bottom: 10px;
}

.show_more a{
  background-image:url(++resource++plonetheme.zopeorg.images/show_more_icon.gif);
  background-position:right center;
  background-repeat:no-repeat;
  color:#BB234F;
  font-style:italic;
  padding-right:25px;
  text-decoration:none;
  text-transform:uppercase;

}

.show_more a:hover {
  background-image:url(++resource++plonetheme.zopeorg.images/show_more_h_icon.gif);
  background-position:right center;
  background-repeat:no-repeat;
  color:#2375BB;
  padding-right:25px;
}

.contentViews{
  clear:left;
}
