/*overrides*/
#collage .portletTeaser .portletHeader { display:none; }
#collage .portletTeaser .portletItem { padding:0; margin:0; }
#collage .portletTeaser  { padding:0; margin:0 -10px 1em -10px; }
/* styles for zope.org */
body {
    /*fallback*/
    background:url(++resource++plonetheme.zopeorg.images/bg_body.png) repeat-x scroll top left;
    /*default css3*/
    background:url(++resource++plonetheme.zopeorg.images/bg_body.png), url(++resource++plonetheme.zopeorg.images/bg_footer.png);
    background-repeat:repeat-x,repeat-x;
    background-attachment:scroll,scroll;
    background-position:top left, bottom left;
    background-color:#C9C9C9;
    
    color: #5A5A5A;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 16px;
    margin: 0;
    padding: 0;
}


img {
    border:0 none;
    margin:0;
    padding:0; }

input, textarea {
    background-color: white;
    background-image: none;
    border: 1px solid #b0aeaf;
    padding: 2px; }

a {
    color: #bd4265;
    text-decoration: none; }
a:hover { color: #2375BB; }

h1, #content h1 {
    font-size: 1.6em; }
h2, #content h2 {
    color:#2375BB;
    font-size: 1.4em; }
h3, #content h3 {
    color:#2375BB;
    font-size: 1.2em;
    font-weight: normal;
    font-style: normal; }

.documentFirstHeading {
    background-image:url(++resource++plonetheme.zopeorg.images/line.png);
    background-position:0 35px;
    height:40px;
    background-repeat:repeat-x;
    color:#2375BB;
    font-style:italic; 
    margin-bottom:15px; }

#content .documentDescription, #content #description {
    font-size:1em;
    font-weight:bold; }

div.documentByLine {
    color: #666666;
    display: block;
    font-size: 65%;
    padding:5px; }

#content li, dl.portlet li { margin-bottom:1em; }

#content {
    margin: 0;
    padding: 10px;
    min-height: 400px; }

/* LAYOUT */

#visual-portal-wrapper {
    margin: 0pt auto;
    padding: 0px;
    width: 980px; }

#portal-column-one>div, #portal-column-two>div { padding:1em; }
#portal-column-content { float:left; }
#portal-column-one {
    float:left;
    padding:10px 20px 20px 20px; }
#portal-column-two { float:right; }

.section-front-page #portal-columns div.width-full {
    background:none; }
#portal-columns div.width-full {
    background-color:transparent;
    background-image:url(++resource++plonetheme.zopeorg.images/column_full.png);
    background-repeat:no-repeat; }
#portal-columns div.width-3\3a 4 {
    background-color:transparent;
    background-image:url(++resource++plonetheme.zopeorg.images/column_main.png);
    background-repeat:no-repeat; }
#portal-columns div.width-1\3a 4 {
    background-color:transparent;
    background-image:url(++resource++plonetheme.zopeorg.images/column_portlet.png);
    background-repeat:no-repeat; }

div.width-full { width:100%; } 
div.width-3\3a 4 { width:650px; }
div.width-1\3a 4 { width:320px; }

/* HEADER */
#portal-header {
    height:168px;
    margin-bottom:1em; }

#portal-logo {
    position:absolute;
    top:32px;
    left:0;
    margin:0; }

#portal-personaltools-wrapper {
    padding: 0;
    text-align: right;
    float: right;
    margin-top:18px; }
#portal-personaltools {
    margin-left:0;
    background-color:#2375BB;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em; 
    -khtml-border-radius: 0.5em; }
#portal-personaltools a {
    font-size:90%;
    font-weight:bold;
    color:white; }
#portal-personaltools dd {
    background-color:#2375BB;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em; 
    -khtml-border-radius: 0.5em; }
#portal-personaltools dd a:hover {
    background:white;
    color:black; }
#portal-personaltools #anon-personalbar a {
    margin-right:0; }

#portal-siteactions {
    padding: 3px 0;
    text-align: right;
    float: right;
    margin-top:18px; }
#portal-siteactions li {
    display: inline;
    list-style-type: none;
    padding-right: 12px;
    padding-top: 3px; }
#portal-siteactions li a {
    color: #595959;
    font-size: 10px;
    text-decoration: none; }
#portal-siteactions li a:hover {
    color: #2375BB;
    text-decoration: underline; }

/* globalnav */
#portal-globalnav {
    position:absolute;
    top:123px;
    left:0px;
    background: none;
    padding: 0;
    clear: both;
    float: left;
    height:45px;
    max-width:777px;
    overflow:hidden;
    margin:0; }
#portal-globalnav li {
    float: left;
    list-style-type: none;
    padding-right: 20px; }
#portal-globalnav li:last-child { padding-right:0; }
#portal-globalnav li a {
    color: #FFFFFF;
    background: none;
    display: block;
    font-size: 15px;
    font-weight: bold;
    padding: 14px 0 15px;
    line-height:16px;
    text-decoration: none;
    border-right: none;
    min-width:0; }
#portal-globalnav li a:hover {
    color: #C0E0FC;
    text-decoration: none; }
#portal-globalnav .selected a, #portal-globalnav .selected a:hover {
    background-color: transparent;
    background-image: url(++resource++plonetheme.zopeorg.images/nav_active.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    color: #C0E0FC; }
#portal-globalnav .selected a, #portal-globalnav .selected a:hover, #portal-globalnav a:hover {
    background-color: transparent; }

/* search */
#portal-searchbox {
    position:absolute;
    top:123px;
    right:0;
    margin:8px 0 0;
    font-size:15px;
    height:30px;
    width:200px;
    background-image:url(++resource++plonetheme.zopeorg.images/bg_search.png);
    background-position:right top;
    background-repeat:no-repeat; }
#portal-searchbox input { border: 0 !important; }
#searchGadget {
    background-color:transparent;
    margin:3px 0 0 30px;
    padding:3px;
    width:145px;
    color: #5A5A5A; }
#portal-searchbox .searchButton {
    background:url("++resource++plonetheme.zopeorg.images/search_button.png") no-repeat scroll center center;
    background-color:transparent;
    color:transparent;
    vertical-align:middle; 
    height:17px;
    width:10px;
    margin:0 5px 0 0;
    padding:0;
    cursor:pointer; }

#portal-searchbox .searchSection { display:none; }
#LSResult {
    display:block !important;
    background:transparent; }
#portal-searchbox .livesearchContainer {
    background:white;
    border:1px solid black; }
#livesearchLegend {
    color:white;
    background-color:#75AD0A; }
/* end search */

/* END HEADER */

/* portal feeter  */
#portal-feeter {
    /* h:150px w:980px */
    clear:both;
    background-color:#6B6B6B;
    background-image:url(++resource++plonetheme.zopeorg.images/bg_footer.png);
    background-repeat:repeat-x;
    color:#E3E3E3;
    height:110px;
    width:940px; 
    padding:20px; }
#feeter_left { float:left; }
#feeter_right { text-align:right; }
#feeter_left h2 {
    color:White;
    font-size:12px;
    font-weight:normal;
    margin:0;
    padding:25px 0 5px; }
#feeter_left h3 {
    color:White;
    font-size:12px;
    font-weight:normal;
    margin:0;
    padding:0 0 30px; }
#feeter_left p {
    color:#9A9A9A;
    font-size:10px;
    margin:0;
    padding:0px 0 35px; }


/* portlets */
dl.portlet { font-size: 65%; }
dl.portlet dt {
    color:#2375BB;
    font-size:1.2em;
    font-style:italic;
    text-decoration:none;
    font-weight: bold;background-color:transparent;
    background-image:url(++resource++plonetheme.zopeorg.images/line.png);
    background-repeat:repeat-x;
    background-position:0 32px;
    margin-bottom:15px;
    height:40px;
    padding:0; }
dl.portlet dd { padding:0 !important; }


/* content accordion */
#accordion h2 {
    outline: 0;
    cursor:pointer;
    margin-top:1.4em; }
h2.ui-state-default:before { content:"\25B8   "; }
h2.ui-state-active:before { content:"\25BE   "; }
div.ui-accordion-content {
    margin: 10px 0 0 20px;
    padding: 15px;
    background: white;
    color: black;
    opacity: 0.65;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px; }

/* external links */
#content a.external-link, dl.portlet a.external-link {
    text-align: center;
    padding: 0.25em 0.5em;
    color: white !important;
    margin: 0 auto 1em;
    background: #75AD0A;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em; 
    -khtml-border-radius: 0.5em; }
#content a.external-link:hover, dl.portlet a.external-link:hover {
    color:white !important;
    background-color:#2375BB; }

/* more */
#portal-breadcrumbs {
    color: #868686;
    font-size: 11px;
    font-style: italic;
    padding: 2px 0px 6px;
    clear: both; }
#portal-breadcrumbs a {
    color: #868686;
    text-decoration: none; }
